// Start of books section

#books {
	padding-top: 30px;
	padding-bottom: 30px;
	background-image: url('../images/books.jpg');
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: multiply;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	h1 {
		font-size: 2.8em;
		text-align: center;
		margin: 30px 0;
	}
	.carousel {
		.carousel-indicators {
			li {
				border-radius: 50%;
				width: 10px;
				height: 10px;
			}	
		}
		.carousel-inner {
			.carousel-item {
				padding-bottom: 50px;
				.card {
					height: 500px;
					width: 250px;
					margin-right: auto;
					margin-left: auto;
					.card-img-top {
						width: 175px;
						height: 275px;
						margin: 0 auto;
					}
					.card-body {
						padding: 10px;
						text-align: center;
					}
				}
			}
		}
	}
}



// End of books section