@use "variables_mixins";

// START OF NAVABAR
.navbar-brand {
	margin-left: 50px;
	span{
		font-size: 1.5em;
		font-family: 'Arvo', serif;
	}
}


.navbar-dark {
	position: sticky;
	top: 0;
	z-index: 1000;
	.navbar-nav {
		display: flex;
		align-items: center;
		margin-right: 20px;
		.nav-item {
			font-size: 1.25em;
			font-family: 'Poppins', sans-serif;
			.nav-link{
				color: white;
				&:hover {
					color: rgba(255, 255, 255, 0.5);
				}
			}
			.active {
				color: rgba(255, 255, 255, 0.5);
			}
		}
		.dropdown {
			margin-left: 10px;
			.profile-img {
				border-radius: 50%;
			}
		}
	}
}
// End of Navbar

.jumbotron-main {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('../images/jumbotron.jpg');
	background-attachment: static;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 390px;
	display: flex;
	align-items: center;
	.container {
		text-align: center;
		color: white;
		#family-icon {
			border-radius: 50%;
			width: 230px;
			height: 230px;
			margin: 10px;
		}
		h1 {
			font-size: 3.8em;
			text-shadow: 2px 2px 4px black;
		}
	}
}