@use "_variables_mixins";

@media (max-width: 992px) {
	.navbar-dark {
		.navbar-collapse {
			.navbar-nav {
				margin-right: 10px;
				.nav-item {
					font-size: 1.2em;
				}
			}
		}
		.navbar-brand {
			margin-left: 25px;
			span {
				font-size: 1.3em;
			}
			.logo-img {
				width: 40px;
				height: 40px;
			}
		}
	}
}


@media (max-width: 767px) {
	.navbar-brand {
		margin-left: 10px;
		span {
			font-size: 1.15em;
		}
		.logo-img {
			width: 35px;
			height: 35px;
		}
	}
	.navbar-collapse {
		margin-top: 10px;
		margin-left: 25px;
		.navbar-nav {
			margin: 0;
			display: block;
		}
	}
	#sign-in-page {
		.back {
			font-size: 0.8em;
			svg {
				width: 30px;
				height: 30px;
			}
		}
		#sign-in-or-register {
			.card {
				width: 380px;
				height: 500px;
				overflow-y: scroll;
				.card-body {
					margin: 0 auto;
					width: 320px;
					font-size: 0.8em;
					.nav {
						.nav-item {
							font-size: 18px;
						}
					}
					.tab-content {
						#g-signin {
							* {
								font-size: 0.9em;
							}
							#my-signin2 {
								.abcRioButton {
									width: 270px !important;
								}
							}
						}
						.sign-in-body {
							button[type="submit"] {
								width: 270px;
							}
							.name-sign-in {
								display: block;
								input[type="text"] {
									max-width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
}


// For mobile users
@media (max-width: 412px) {
	#sign-in-page {
		.back {
			font-size: 0.8em;
			svg {
				width: 30px;
				height: 30px;
			}
		}
		#sign-in-or-register {
			.card {
				width: 310px;
				height: 400px;
				.card-body {
					margin: 0 auto;
					width: 270px;
					font-size: 0.8em;
					.tab-content {
						#g-signin {
							#my-signin2 {
								.abcRioButton {
									width: 220px !important;
								}
							}						
						}
						.sign-in-body {
							button[type="submit"] {
								width: 220px;
							}
						}
					}
				}
			}
		}
	}
}



