@use "variables_mixins" as *;

// Start of sign in page
#sign-in-page {
	background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("../images/sign_in.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	.back {
		background-color: black;
		opacity: 0.6;
		color: white;
		display: block;
		text-decoration: none;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		div {
			margin: 10px 0px 10px 20px;
			&:hover {
				color: rgba(255, 255, 255, 0.9);
				transition: color 300ms ease-in 300ms;
			}
			span {
				margin-left: 10px;
				font-size: 2em;
				vertical-align: middle;
				cursor: pointer;
			}
		}
	}

	#sign-in-or-register {
		.card{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 400px;
			min-height: 400px;
			margin-top: 30px;
			.card-body {
				.nav-tabs {
					border-bottom: none;
					.nav-item {
						padding: 0;
						.nav-link {
							width: 100%;
							border-color: #fff;
						}
						.active {
							border-color: #fff #fff $primary;
							border-width: 2px;
							&:hover {
								border-color: #fff #fff $primary;
							}
						}
					}
				}
				.tab-content {
					.sign-in-body {
						margin: 10px;
						margin-top: 30px;
						#g-signin {
							margin-bottom: 20px;
							span {
								font-family: 'Open Sans', sans-serif;
							}
						}
						button[type="submit"] {
							margin-left: auto;
							margin-right: auto;
							width: 320px;
							color: white;
							padding: 7px 15px;
							font-size: 1.25em;
						}
						.name-sign-in {
							display: inline-block;
							input[type="text"] {
								max-width: 158px;
							}
						}
					}
				}
			}
		}
	}
}
// End of sign in page