@use "variables_mixins" as *;

#sign-in-page {
	.back {
		color: white;
		display: block;
		text-decoration: none;
		margin: 10px 0px 0px 20px;
		cursor: pointer;
		&:hover {
			color: rgba(255, 255, 255, 0.7);
			transition: color 300ms ease-in 300ms;
		}
		span {
			margin-left: 10px;
			font-size: 2em;
			vertical-align: middle;
			cursor: pointer;
		}
	}

	#sign-in-or-register {
		.card{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 400px;
			min-height: 400px;
			margin-top: 30px;
			.card-body {
				.nav-tabs {
					border-bottom: none;
					.nav-item {
						font-size: 20px;
						text-align: center;
						padding: 0;
						.nav-link {
							width: 100%;
							border-color: #fff;
						}
						.active {
							border-color: #fff #fff $primary;
							border-width: 2px;
							&:hover {
								border-color: #fff #fff $primary;
							}
						}
					}
				}
				.tab-content {
					.sign-in-body {
						margin: 10px;
						margin-top: 30px;
						#g-signin {
							margin-bottom: 20px;
						}
						button[type="submit"] {
							margin-left: auto;
							margin-right: auto;
							width: 320px;
							color: white;
							padding: 7px 15px;
							font-size: 1.25em;
						}
						.name-sign-in {
							display: inline-block;
							input[type="text"] {
								max-width: 158px;
							}
						}
					}
				}
			}
		}
	}
}